@{
    ViewBag.Title = "Au sujet de nous";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>La société Acme est fier de vous offrir ce service de réservation de voitures en ligne.</p>
<br />
<p>Ce service de location de voitures en ligne a été développé pas <strong>Équipe 4</strong> dans le cadre du cours d'Assurance Qualité Logiciel (MGL805) Hiver 2017.</p>
<p>
    Les distingués membres de l'<strong>Équipe 4</strong> sont:
    <br />
    <br />
    Jérôme Guévin
    <br />
    Saad Blakim
    <br />
    Horace Gandji
    <br />
    Vahram Nersisyan
    <br />
    Tchatchouang Steeve
</p>