@{
    ViewBag.Title = "Contactez nous";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    La société Acme Inc.<br />
    Affiliée à l'École de Technologie Supérieure<br />
    Division de l'Assurance Qualité Logiciel (MGL805)<br />
    1100 Rue Notre-Dame O, <br />
    Montréal, QC<br />
    Canada,<br />
    H3C 1K3<br />
    <abbr title="Phone">P:</abbr>
    (514) 396-8800
</address>

<address>
    <strong>Management:</strong>   <a href="mailto:jeromeguevin@gmail.com">Management@Acme.com</a><br />
    <strong>Chef du Support Technique:</strong>   <a href="mailto:Support@example.com">ChefSupport@Acme.com</a><br />
    <strong>Support technique:</strong>   <a href="mailto:Support@example.com">Support@Acme.com</a><br />
    <strong>Assurance Qualité:</strong>   <a href="mailto:Support@example.com">AssuranceQualite@Acme.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@Acme.com</a>
</address>